:root {
  --bg: rgb(245, 245, 245);
  --card-bg: #0b2a55;        /* deep dark blue */
  --card-header-bg: #0d3264;
  --accent: #1e90ff;         /* dodger blue */
  --text: #1a1a1a;           /* near-black */
  --text-light: #f0f4ff;     /* light for dark cards */
  --muted: #4b5563;
  --border-light: rgba(0, 0, 0, 0.05);
  margin: 3px;
}

* {
  box-sizing: border-box;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
  padding: 18px;
}

header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 14px;
}

header h1 {
  margin: 0;
  font-size: 28px;
  font-weight: bold;
  color: var(--text);
}

.controls {
  display: flex;
  gap: 12px;
  align-items: center;
  flex-wrap: wrap;
  margin: 35px 0px 35px 0px;
  font-weight: bold;
}

input, button {
  padding: 8px;
  border-radius: 6px;
  border: 3px solid black;
  background: white;
  color: var(--text);
  font-weight: 600;
}

button {
  cursor: pointer;
  background: #d7d2d1;
}

button:hover {
  background: #0d3264;
  color: whitesmoke;
}

.hint {
  color: var(--muted);
  font-size: 15px;
  margin: 4px 0 10px 0;
}

.hint span {
  color: var(--accent);
  font-weight: 800;
  font-size: large;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 14px;
}
/* CARD */
.card {
  background: var(--card-bg);
  color: var(--text-light);
  border-radius: 25px;
  padding: 12px;
  margin: 5px;
  box-shadow: 12px 12px 5px rgba(0, 0, 0, 0.25);
  min-height: 120px;
  border: 0px solid rgba(255, 255, 255, 0.06);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.card .sid {
  font-size: 14px;
  color: rgb(7, 227, 7);
  font-weight: 800;
  margin-left: 7px;
  font-size: larger;
}

.card-body pre {
  white-space: pre-wrap;
  word-break: break-word;
  background: rgba(255, 255, 255, 0.135);
  padding: 8px;
  border-radius: 6px;
  font-weight: 600;
  color: rgb(7, 227, 7);
}

.card-body .state{
  font-weight: 600;
  color: rgb(7, 227, 7);
  padding: 10px;

}

.card-body div {
  margin-bottom: 25px;
}

.card-actions {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 12px;
  padding: 10px;
}

.btn-delete {
  background: #8b1a1a;
  color: #ffdede;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.btn-delete:hover {
  background: #a32020;
}

.btn-send-event {
  background: var(--accent);
  color: #e9f1fc;
  font-weight: 600;
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.btn-send-event:hover {
  background: #2747aa;
}
